*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body.dark-theme {
  background-color: #222 !important;
  color: #eee !important;
}
body.dark-theme .footer,
body.dark-theme header,
body.dark-theme .drawer,
body.dark-theme .pages a,
body.dark-theme .category-icons a,
body.dark-theme .hello {
  background-color: #222 !important;
  color: #eee !important;
}

